@model CoreBook.Models.ViewModels.ProductVM

@{
    ViewData["Title"] = "Upsert";
    var title = "Create Product";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.ProductObj.ID != 0)
    {
        title = "Edit Product";
        <input type="hidden" asp-for="ProductObj.ID" />
    }

    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductObj.Title" class="font-weight-bold"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductObj.Title" class="form-control" />
                    <span asp-validation-for="ProductObj.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductObj.ISBN" class="font-weight-bold"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductObj.ISBN" class="form-control" />
                    <span asp-validation-for="ProductObj.ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductObj.Authors" class="font-weight-bold"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductObj.Authors" class="form-control" />
                    <span asp-validation-for="ProductObj.Authors" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductObj.Description" class="font-weight-bold"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="ProductObj.Description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductObj.ListPrice" class="font-weight-bold"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductObj.ListPrice" type="number" class="form-control" />
                    <span asp-validation-for="ProductObj.ListPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductObj.Price" class="font-weight-bold"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductObj.Price" type="number" class="form-control" />
                    <span asp-validation-for="ProductObj.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductObj.Price50" class="font-weight-bold"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductObj.Price50" type="number" class="form-control" />
                    <span asp-validation-for="ProductObj.Price50" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductObj.Price100" class="font-weight-bold"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductObj.Price100" type="number" class="form-control" />
                    <span asp-validation-for="ProductObj.Price100" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <b>Category</b>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(o => o.ProductObj.CategoryID, Model.CategoryList, "-Select a Category-", new { @class = "form-control" })
                    <span asp-validation-for="ProductObj.CategoryID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <b>Cover Type</b>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(o => o.ProductObj.CoverTypeID, Model.CoverTypeList, "-Select a Cover Type-", new { @class = "form-control" })
                    <span asp-validation-for="ProductObj.CoverTypeID" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <b>Image</b>
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.ProductObj.ID != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.ProductObj.ID" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateFilesInput()" class="btn btn-sm btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-sm btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.ProductObj.ID != 0)
        {
            <div class="col-3 offset-1 pt-4">
                <img src="@Model.ProductObj.ImageUrl" style="width: 100%; border-radius: 8px; border: 1px solid #bbb9b9;" />
            </div>
        }
    </div>
</form>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.tiny.cloud/1/lpuk0cm2yy9qplt4ma9supfjgiqamjoa5z9nmryfkyp2adrx/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugin: 'lists',
            menubar: 'file edit format'
        });

        function validateFilesInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Error", "Please select an image", "error");
                return false;
            }

            return true;
        }
    </script>
}

